{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}

<link href="{% static 'perfil/css/login.css' %}" rel = "stylesheet">

{% endblock %}

{% block 'body' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Faça login<br>e usufrua dos serviços</h1>
            <img src="{% static 'perfil/img/financeiro.svg' %}" class="left-login-image" alt="financeiro animação">
        </div>
        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="username">Usuário</label>
                    <input type="text" name="username" placeholder="username">
                </div>
                <div class="textfield">
                    <label for="password">Senha</label>
                    <input type="password" name="password" placeholder="password">
                </div>
                <button class="btn-login">Login</button>
            </div>
        </div>
    </div>            
</body>
</html>
{% endblock %}